<!DOCTYPE html>
{#{% load static %}#}
<html lang="en">
<head>
{#    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .errorlist{
    color:red;
    }

</style>
<body>
    <form method="post" action="{% url 'change' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <p>{{form.non_field_errors}}</p>
        {% endif %}
        <table>
            <tr>
                <td><label id="{{form.old_pass.id_for_label}}">{{form.old_pass.label}}</label></td>
                <td>{{form.old_pass.errors}}{{form.old_pass}}</td>
                <td><label id="{{form.new_pass.id_for_label}}">{{form.new_pass.label}}</label> </td>
                <td>{{form.new_pass.errors}}{{form.new_pass}}</td>
                <td><label id="{{form.renew_pass.id_for_label}}">{{form.renew_pass.label}}</label> </td>
                <td>{{form.renew_pass.errors}}{{form.renew_pass}}</td>
            </tr>
        </table>
        <input type="submit" value="change">
    </form>



</body>
</html>